.Rproj.user
.Rhistory
.RData
.Ruserdata
Aim 1 Figure S2.jpg
Aim 1 Figure S3.jpg
Aim 1 Figure S4.jpg
Aim 1 Figure S4.pdf
supp_bg_trap_aegypti_box.jpeg
supp_bg_trap_aegypti_dots.jpeg
supp_bg_trap_prev_box.jpeg
supp_bg_trap_prev_dots.jpeg
supp_bgtrap_distribution.jpeg
supp_bootstrap_corr.jpeg
supp_bootstrap_corr_12.jpeg
supp_bootstrap_corr_3.jpeg
supp_bootstrap_corr_5.jpeg
supp_bootstrap_corr_6.jpeg
supp_bootstrap_corr_9.jpeg
supp_ovi_trap_larvae_box.jpeg
supp_ovi_trap_larvae_dots.jpeg
supp_ovi_trap_prev_box.jpeg
supp_ovi_trap_prev_dots.jpeg
supp_ovitrap_distribution.jpeg
